# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.BIS21-assigment1-unity-intro.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\HPI\BIS21-assigment1-unity-intro\.idea\.idea.BIS21-assigment1-unity-intro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
